<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome!</h1>
    <a href="/products">Go to Shop</a>
    <a href="/login">LOGIN</a>
    <a href="/register">REGISTER</a>
  </body>
</html>
