<!DOCTYPE html>
<html>
  <head>
    <title>registration model</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>welcome to home page</h1>
    <a href="/users/register">register a new user</a>
  </body>
</html>
